body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.navbar {
  color: #fff;
}

.chat-container {
  margin: 2rem auto;
  width: 95%;
  max-width: 800px;
}

/* .container {
  height: 80vh;
} */

.copyright {
  margin: 0 auto;
}

.chat-header span {
  color: rgb(23, 53, 83);
  margin-right: 1rem;
}

.last-mes {
  float: right;
  margin-right: 0;
}

.chat-title {
  font-weight: 700;
}

.alert-light {
  background-color: #f7f7f7;
  border: 1px solid #f7f7f7;
}

.chat-footer {
  margin-top: 20px;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: red;
  color: white;
  text-align: center;
}

.chat-container {
  max-height: calc(100vh - 100px);
}

.messages-container {
  max-height: 300px;
  overflow-y: scroll;
}

.user-message-input {
  height: 40px;
}

.chat-message,
.chat-own-message {
  width: 60%;
  padding-bottom: 40px;
  position: relative;
}

.chat-own-message {
  margin-left: auto;
  padding-top: 30px;
}

/* .chat-message:after {
  content: '';
  display: table;
  clear: both;
} */

.message-author-avatar {
  max-width: 40px;
  border-radius: 50%;
  float: left;
  margin-right: 10px;
}

[class*="btn"]:hover {
  cursor: pointer;
}

.message-time {
  position: absolute;
  right: 20px;
  bottom: 10px;
}

.message-like-block {
  position: absolute;
  left: 20px;
  bottom: 10px;
  display: flex;
  align-items: center;
}

.chat-own-message:hover .message-user-controls {
  display: flex;
}

.message-user-controls {
  display: none;
  position: absolute;
  right: 20px;
  top: 10px;
  align-items: center;
}

.like-btn {
  background-color: transparent;
  border: none;
  color: rgba(255, 0, 0, 0.288);
  padding: 0;
  font-size: 1.5rem;
  line-height: 0;
}

.liked {
  color: rgba(255, 0, 0, 0.849);
}

.edit-btn,
.remove-btn {
  background-color: transparent;
  border: none;
  color: rgb(144, 139, 148);
  padding: 0;
  font-size: 1.2rem;
  line-height: 0;
  margin-top: 10px;
  margin-left: 10px;
}

.likes {
  padding-right: 5px;
}

.chat-separator-wrapper {
  margin: 40px 0;
  position: relative;
  width: 100%;
}

.chat-separator-label {
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  color: rgb(107, 103, 110);
  background-color: #f7f7f7;
  border: 1px solid #f7f7f7;
  padding: 0 15px;
  border-radius: 10px;
}

.user-table {
  width: 90%;
  height: 90vh;
  margin: 50px auto;
}

.user-table td .btn {
  width: 100px;
  margin-right: 20px;
}

.modal-add-edit-user {
  margin: 50px auto;
}
